/etc/c/zlib/*.obj
/etc/c/zlib/*.o
/etc/c/zlib/zlib.lib
/etc/c/zlib/zlib.a
/phobos.json
/phobos.lib

generated
GNUmakefile
.DS_Store
.*.sw*
Makefile

# Rules for Xamarin Studio project data/build output
*.dproj
bin/
obj/
*.html

